/*body {
    margin: 5% 5%;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #000000;
    padding: 20px 0;    
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.link2 {
    margin-left: 20px;
}

.link3 {
    margin-left: 20px;
}

.header-container {
    color: #f9faf8;
    background-color: #d6a444;
    display: flex;
    justify-content: center;
    padding: 40px 225px;
}

.header-logo {
    display: flex;
    padding-right: 250px;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 40px;
}

.top-image {
    height: 200px;
    width: 250px;
    display: flex;
}

.signup {
    display: flex;
    margin-top: 10px;
}
button {
    color: #f9faf8;
    background-color: 	#a71313;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.random-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    font-weight: bold;
    font-size: 30px;
}

.photo-grid {
    width: 900px;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.photo-grid-item {
    border: 3px solid 	#a71313;
    border-radius: 8px;
    width: 125px;
    height: 125px;
    padding: 10px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 20px; 
    
}

.section-three-container {
    display: flex;
    justify-content: center;
    background: rgba(214,164,68);
    padding: 60px 60px;
}

.quote {
    display: flex; 
    font-weight: lighter;   
}

.quote-text {
    display: flex;
    font-size: 30px;
    font-style: italic;
}

.bladerunner {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
}

.section-four-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.blue-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #2f5ba5;
    border-radius: 10px;
    padding: 30px 60px;
    background-color: 	#2f5ba5;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f9faf8;
}

.last-button {
    border: 1px solid #a71313;
    border-radius: 8px;
    margin-left: 40px;
}


.footer {
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    background-color: #000000;
    height: 65px;
}

.footer-item {
    display: flex;
    align-items: center;
}









/*.Header { 
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.footer-one, .footer-three {
    background-color: #1f2937;
    flex: initial;
    width: 300px;
}

a {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.flex-container {
    background-color: darkgray;
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
}


img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 5px;
    width: 50px;
}

.Quote {
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#signup {
    border-style: solid; border-color:#3882f6;
}

footer {
    background-color: #1F2937;
}

#footer {
    color: #f9faf8;
}
*/