/*body {
    margin: 5% 5%;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.link2 {
    margin-left: 20px;
}

.link3 {
    margin-left: 20px;
}

.header-container {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-image {
    height: 200px;
    width: 250px;
    display: flex;
}

.signup {
    display: flex;
    margin-top: 10px;
}
 button {
    color: #f9faf8;
    background-color: #3882f6;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.random-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.photo-grid {
    width: 900px;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.photo-grid-item {
    border: 1px solid #3882f6;
    width: 100px;
    height: 100px;
}

.subtext {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.section-three {
    display: flex;
    justify-content: center;
}



.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #1f2937;
    height: 200px;
    flex: 1;
}

.footer-three {
    flex: 2;
}

.footer-one, .footer-three {
    background-color: #1f2937;
    flex: initial;
    width: 300px;
}




/*.Header { 
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

a {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.flex-container {
    background-color: darkgray;
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
}


img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 5px;
    width: 50px;
}

.Quote {
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#signup {
    border-style: solid; border-color:#3882f6;
}

footer {
    background-color: #1F2937;
}

#footer {
    color: #f9faf8;
}
*/