body {
    margin: auto;
}

.Header { 
    background-color: #1F2937;
    color: #f9faf8;
}

a {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.placeholder {
    background-color: darkgray;
}

img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 5px;
    width: 50px;
}

.Quote {
    background-color: #e5e7eb;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#signup {
    border-style: solid; border-color:#3882f6;
}

footer {
    background-color: #1F2937;
}

#footer {
    color: #f9faf8;
}
